/out/production/Telegram/uz/pdp/back/models/basemodel/BaseModel.class
/out/production/Telegram/uz/pdp/back/services/baseservice/BaseService.class
/out/production/Telegram/uz/pdp/back/models/contact/Contact.class
/out/production/Telegram/uz/pdp/back/services/contactservice/ContactService.class
/out/production/Telegram/uz/pdp/back/services/contactservice/ContactServiceimp.class
/out/production/Telegram/uz/pdp/back/models/message/Message.class
/out/production/Telegram/uz/pdp/back/services/massageservice/MessageService.class
/out/production/Telegram/uz/pdp/back/services/massageservice/MessageServiceimp.class
/.idea/misc.xml
/.idea/modules.xml
/out/production/Telegram/uz/pdp/back/enums/StatusMessage.class
/Telegram.iml
/out/production/Telegram/uz/pdp/front/ui/UI.class
/.idea/uiDesigner.xml
/out/production/Telegram/uz/pdp/back/models/user/User.class
/out/production/Telegram/uz/pdp/back/services/userservice/UserService.class
/out/production/Telegram/uz/pdp/back/services/userservice/UserServiceimp.class
/out/production/Telegram/uz/pdp/front/utils/Util.class
/out/production/Telegram/uz/pdp/front/utils/UtilMain.class
/.idea/vcs.xml
/.idea/.gitignore
